.row(ng-controller="addTicketCtrl")
	.col-lg-12
		form(ng-submit="FormSubmit()")
			h4(style='padding: 15px;') Add Ticket
			.container
				.col-sm-3
					.form-group
						label(for='requesterDetail') Requester
						input#requesterDetail.form-control(ng-model="formData.requesterDetail", type='email', placeholder='Email address of requester', required)
					.form-group
						label(for='assigneeType') Assignee
						select#assigneeType.form-control(ng-init="formData.assigneeType = options1[0]", ng-model="formData.assigneeType", required, ng-options="option for option in options1")
					.form-group
						label(for='contactEmail') CC
						input#contactEmail.form-control(ng-model="formData.contactEmail", type='email', aria-describedby='emailHelp', placeholder='Email address of requester', required)
					hr
					.row
						.col-md-6
							.form-group
								label(for='ticketType') Type
								select#ticketType.form-control(ng-init="formData.ticketType = options2[0]", ng-model="formData.ticketType", required, ng-options="option for option in options2")
						.col-md-6
							.form-group
								label(for='ticketPriority') Priority
								select#ticketPriority.form-control(ng-init="formData.ticketPriority = options3[1]", ng-model="formData.ticketPriority", required, ng-options="option for option in options3")
					.form-group
						label(for="category-tag") Category
						tags-input#category-tag(ng-model="formData.tags")


				.col-sm-9(style="border-left: 1px solid #eee; min-height: 550px;")
					.form-group
						label(for='subject') Subject
						input#subject.form-control(ng-model="formData.subject", type='text', required)
					.form-group
						label(for='description') Description
						textarea#description.form-control(rows='8',ng-model="formData.description")
						small#fileHelp.form-text.text-muted
							| This comment is sent to the ticket requester
					.form-footer(style="margin-top: 55px;")
						.form-group.pull-left
							.dropdown
									button#dropdownMenu1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
										.fa.fa-bolt
										|  Quick Response 
										span.caret
									ul.dropdown-menu(aria-labelledby='dropdownMenu1')
										li
											a(href='#') Close and redirect to topics
										li
											a(href='#') Customer not responding
										li
											a(href='#') Downgrade and inform
						.form-group.pull-right
							select#ticketStatus.form-control(ng-init="formData.ticketStatus = options4[0]", ng-model="formData.ticketStatus", required, ng-options="option for option in options4")
						input.btn.btn-primary.pull-right(type='submit', value="Add Ticket", ng-hide="status")
						button.btn.btn-primary.pull-right(type='button', ng-show="status")
							i.fa.fa-refresh.rotate