.row(style='margin-top:50px', ng-controller='dashboardCtrl')
	.col-lg-8.col-md-offset-2
		.row
			.col-sm-4
				.box(ng-click="redirect('new')")
					.box-img
						.fa.fa-pencil
					h4.text-center
						| New Ticket
			.col-sm-4
				.box(ng-click="redirect('view')")
					.box-img
						.fa.fa-folder-open
					h4.text-center
						| View Tickets
			.col-sm-4
				.box(ng-click="redirect('search')")
					.box-img
						.fa.fa-search
					h4.text-center
						| Search Ticket