.row(ng-controller="searchCtrl")
	.col-lg-12
		.container
			.col-sm-4(style="border-right: 1px solid #eee; min-height: 550px;")
				h4(style='padding: 0px 10px;') Search
				.input-group
					input(type="text", class="form-control", placeholder="Search for...", ng-model='query')
					span.input-group-btn
						button.btn.btn-default(type="button", ng-click='search()') 
							.fa.fa-search
				.row(style="margin: 0px")
					h4.pull-left(style='margin-top: 30px;')
						.fa.fa-filter
						|  Filter
					button.btn.btn-warning.pull-right(style='margin-top: 25px;', ng-click="clearFilter()")
						.fa.fa-close
						|  Clear All
				div
					.form-group(style="margin-top:10px")
						label.checkbox-inline
							input(type='checkbox', ng-model="checkboxModel.value2")
							|  Category
						label.checkbox-inline
							input(type='checkbox', ng-model="checkboxModel.value3")
							|  Priority
						label.checkbox-inline
							input(type='checkbox', ng-model="checkboxModel.value4")
							|  Enquiry
					.form-group(ng-show="checkboxModel.value2", ng-click="resetTag()")
						label(for="category-tag") Category
						tags-input#category-tag(ng-model="tags", placeholder="Enter a Tag")
					.form-group(ng-show="checkboxModel.value3")
						label(for='priority-filter') Priority
						select#priorityFilter.form-control(ng-init="priority = options2[0]", ng-model="priority", ng-options="option for option in options2")
					.form-group(ng-show="checkboxModel.value4")
						label(for='type-filter') Type of Enquiry
						select#typeFilter.form-control(ng-init="EType = options1[0]", ng-model="EType", ng-options="option for option in options1")
				.row(style="margin: 0px; margin-top: 30px; margin-bottom: 10px;")
					h4.pull-left
						.fa.fa-sort
						|  Sort
					button.btn.btn-warning.pull-right(ng-click="clearSort()")
						.fa.fa-close
						|  Clear All
				table(width="100%")
					tr
						td
							.pull-left
								button.btn.btn-default(type="button", style='margin-top:5px;',ng-init="revTrue = false", ng-class="{'active':revTrue == false}", ng-click="revTrue = false")
									.fa.fa-sort-amount-asc
							.pull-left
								button.btn.btn-default(type="button", style='margin-top:5px; margin-left: 5px;',ng-class="{'active':revTrue === true}", ng-click="revTrue = true")
									.fa.fa-sort-amount-desc
							.pull-right
								h4(ng-show="revTrue === false") Ascending
								h4(ng-hide="revTrue === false") Descending
					tr
						td
							label
								input(type='checkbox', ng-model='tsort.c1', ng-click="tsort.c1?sortResult('createdOn'):''")
								|  Date
					tr
						td
							label
								input(type='checkbox', ng-model='tsort.c2', ng-click="tsort.c2?sortResult('assigneeType'):''")
								|  Category
					tr
						td
							label
								input(type='checkbox', ng-model='tsort.c3', ng-click="tsort.c3?sortResult('ticketPriority'):''")
								|  Priority
					tr
						td
							label
								input(type='checkbox', ng-model='tsort.c4', ng-click="tsort.c4?sortResult('ticketType'):''")
								|  Type
					tr
						td
							label
								input(type='checkbox', ng-model='tsort.c5', ng-click="tsort.c5?sortResult('requesterDetail'):''")
								|  Name

			.col-sm-8
				.h1(ng-show="result!=null", style="margin-bottom: 30px;") Search Results
				.contain(style="cursor: default;")
					.p(ng-show="result.length==0") No results
					.row.s-result(ng-repeat="item in result | filter: { ticketPriority:((checkboxModel.value3)?((priority=='None')?'':priority):''), ticketType:((checkboxModel.value4)?((EType=='None')?'':EType):'') } | tagFilter:tags ", style="margin-bottom: 30px;padding: 10px 0px;")
						.col-sm-8
							span.mini-badge(class="{{item.ticketStatus}}") {{ item.ticketStatus }}
							span 
								b {{item.subject}}
							P {{item.description}}
							p
								i {{item.requesterDetail}}
							row(ng-repeat="tag in item.tags")
								.tag_item {{tag.text}}
						.col-sm-4.text-right
							br
							p {{item.assigneeType}}
							p Type: {{item.ticketType}}
							p 
								b Prority: {{item.ticketPriority}}
							em 
								time{{ item.createdOn | amDateFormat: 'dddd, DD-MM-YYYY, h:mm a' }}
				