.row(ng-controller="viewTicketCtrl")
	.col-lg-12
		.container
			.col-sm-3(style="border-right: 1px solid #eee; min-height: 550px;")
				h4(style='padding: 0px 10px;') Views
				hr
				table.ticket-types(width="100%")
					tr
						td
							a(href="",ng-click="viewdata('all')") View all tickets
						td
							span.round-badge {{ apiData.length }}
					tr
						td
							a(href="",ng-click="viewdata('solved')") Recently solved Tickets
						td
							span.round-badge {{ solved.length }}
					tr
						td
							a(href="",ng-click="viewdata('new')") View New Tickets
						td
							span.round-badge {{ newtickets.length }}
					tr
						td
							a(href="",ng-click="viewdata('unsolved')") All Unsolved Tickets
						td
							span.round-badge {{ unsolved.length }}
					tr
						td
							a(href="",ng-click="viewdata('pending')") Pending Tickets
						td
							span.round-badge {{ pending.length }}

			.col-sm-9
				h3(style="margin-top:10px") Your unsolved tickets
				p.ticket-count {{ displayData.length }} Tickets
				.table-responsive
					table.table-hover(width="100%")
						thead(style="border-bottom: 1px solid #ddd;")
							tr
								th(width="30px") 
								th(style="min-width:150px", ng-click="sortBy('subject')")
									.fa.fa-caret-down(ng-show="propertyName === 'subject'", ng-class="{reverse: reverse}")
									|  Subject
								th(width="15px") &emsp;
								th(ng-click="sortBy('requesterDetail')")
									.fa.fa-caret-down(ng-show="propertyName === 'requesterDetail'", ng-class="{reverse: reverse}")
									|  Requester
								th(ng-click="sortBy('createdOn')")
									.fa.fa-caret-down(ng-show="propertyName === 'createdOn'", ng-class="{reverse: reverse}")
									|  Request Date
								th(ng-click="sortBy('ticketType')")
									.fa.fa-caret-down(ng-show="propertyName === 'ticketType'", ng-class="{reverse: reverse}")
									|  Type
								th(ng-click="sortBy('ticketPriority')")
									.fa.fa-caret-down(ng-show="propertyName === 'ticketPriority'", ng-class="{reverse: reverse}")
									|  Priority
						tbody
							tr(ng-repeat="item in displayData | orderBy:propertyName:reverse")
								td
									span.badge(class="{{item.ticketStatus}}") {{ item.ticketStatus[0] }}
								td.prewrap {{ item.subject }}
								td 
								td {{ item.requesterDetail }}
								td 
									time(title="{{ main.time | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}") {{ item.createdOn | amCalendar }}
								td {{ item.ticketType }}
								td {{ item.ticketPriority }}