extends layout

block body
  .navbar.navbar-default.navbar-fixed-top(role="navigation")
    .navbar-header
      button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-ex1-collapse")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="/login")
        i.fa.fa-desktop
        span
          |  Help
        | Desk
    
    .collapse.navbar-collapse.navbar-ex1-collapse
      ul.nav.navbar-nav
        li
          a(href="dashboard") Dashboard
        li  
          a(href="add-ticket") New
        li  
          a(href="view-ticket") View
        li  
          a(href="search") Search
  .contain(ng-view, ng-controller="mainController")

  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js')
  script(src='js/lib/angular/angular-route.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.9.0/angular-moment.min.js')
  script(src='js/ng-tags-input.min.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
  script(src='js/lib/jquery/jquery-2.0.3.min.js')
  script(src='bootstrap/js/bootstrap.min.js')