!!!
html(ng-app="Ticket")
  head
    meta(charset='utf8')
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    base(href='/')
    title HelpDesk - Ticketing
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/fontawesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/ng-tags-input.min.css')
    link(href="https://fonts.googleapis.com/css?family=Raleway", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans", rel="stylesheet")
    link(rel='stylesheet', href='/css/app.css')
    style
    block body
