extends layout

block body
	.container
		.row
			.h1.text-center.navbar-brand(style="font-size:36px;font-family: 'Raleway', sans-serif;float: none;")
				i.fa.fa-desktop
				span
					|  Help
				| Desk
			.col-md-4.col-md-offset-4
				.login-panel.panel.panel-default(style="margin-top: 20px;")
					.panel-heading
						h3.panel-title Please Sign In
					.panel-body
						form(role='form', action='/dashboard')
							fieldset
								.form-group
									input.form-control(placeholder='Any E-mail', type='email', autofocus='', required='')
								.form-group
									input.form-control(placeholder='Any Password', type='password', value='', required='')
								.form-group
									input.btn.btn-lg.btn-success.btn-block(type='submit', value='Login')
