/* app css stylesheet */

body {
  padding-top:70px;
  font-family:'Raleway', sans-serif;
}
h1, h2, h3, h4, h5 {
  font-family:'Raleway', sans-serif;
}
.container {
    padding-right: 0px;
    padding-left: 0px;
}
.navbar-brand>span {
	color: #73e893;
}
.mini-badge {
    height: 20px;
    padding: 4px 6px;
    display: inline-block;
    min-width: 10px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 10px;
    margin-right: 20px;
}
.tag_item {
	min-width: 60px;
    padding: 4px 6px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #333;
    text-align: center;
    border: 1px solid #5cb85c;
    display: inline-block;
}
.tag_item:hover {
    border: 1px solid #78e878;
	background: #78e878;
}
.s-result:hover {
	background: #f5f5f5;
}
.badge {
    width: 20px;
    height: 20px;
    padding: 4px 6px;
    border-radius: 50%;
}
.fa-caret-up, .fa-caret-down {
    font-size: 20px;
    cursor: pointer;
}
table>tbody>tr>td, .ticket-count {
    padding: 10px 5px;
    font-family: 'Open Sans', sans-serif;
}
.prewrap {
    white-space: nowrap;
    max-width: 270px;
    overflow: hidden;
}
.round-badge {
    font-family: 'open-sans', sans-serif;
    padding: 15px 15px;
}
.Pending {
	background: #f9d62a;
}
.Solved {
	background: #5ce693;
}
.Open {
	background: #e65c5c;
}
.New {
	background: #8a8a8a;
}
.sortcat {
	margin-right: 5px;
}
.box {
	margin: 10px auto;
	height: 150px;
	width: 150px;
	border: 1px solid #eee;
    color: #777;
    border-radius: 10px;
}
.box:hover {
	box-shadow: 3px 4px 16px #73e893;
	cursor: pointer;
}
.box>.box-img {
	font-size: 80px;
	text-align: center;
	color: #73e893;
}
.ticket-types {
	list-style: none;
	padding: 0px;
}
.ticket-types>tbody>tr>td>a {
	color: #333;
	text-decoration: none;
	display: block;
	padding: 15px 10px;
}
.ticket-types>tbody>tr>td>a:hover {
	background: #eee;
}
.ticket-types>tbody>tr>td>a:focus {
	background-color: #bbb;
}
.ticket-types>tbody>tr>td>span {
	text-align: right;
}
th:hover {
    background: #eee;
    cursor: pointer;
}
.ui-widget-header {
    background: #70d469;
}
.reverse {
	transform: rotate(180deg);
}
.rotate {
	-webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
.contain>.row {
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px) {
	#clear-filter, #apply-filter {
		font-size: 12px;
	}
}
@media (max-width: 992px) {
    .col-lg-12>.container {
        margin-left: 0px;
    }
	td {
		font-size: 12px;
	}
    .col-lg-12 {
        padding: 0px;
    }
}